body {
  background-color: rgba(240, 240, 240, 1);
  box-sizing: border-box;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sticky_note_container {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
